# Default ignored files
/../../../:MTCG/.idea/shelf/
/../../../:MTCG/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../:MTCG/.idea/httpRequests/
# Datasource local storage ignored files
/../../../:MTCG/.idea/dataSources/
/../../../:MTCG/.idea/dataSources.local.xml
